<header id="header">

  <div id="title">
    <a href="/">
      <h1>
        <span class="first">A</span>
        <span class="after">L</span>
        <span class="last">V</span>
      </h1>
      <h2>
        <%= config.subtitle %>
      </h2>
    </a>
  </div>

</header>