.cv
  @media print
    p
      margin: 0
  &__header
    border-top: 2px solid $color-grey
    margin-bottom: 2rem !important;
    padding-top: 1rem;

  &-info
    & *, &
      text-align: center

    
    
    &__image
      border-radius: 50%
      border: 2px solid $color-text
    &__social
      display: flex
      list-style: none
      padding: 0
      justify-content: center
      & > * 
        margin: 0.5rem
      @media print
        display: none
  
  &__grid
    @media print, (min-width: 600px)
      display: flex

    flex-wrap: wrap
    list-style: none
    padding: 0
    & *, &
      text-align: center
      
    &-item
      flex: 1
      text-align: center
      margin-bottom: 2rem
      min-width: 150px
      
      &-image
        height: 5rem
        max-width: 100%
      &-info
        font-size: 0.75rem
        color: $color-grey